body {
  border: 10px solid black;
  .root {
    .title {
      transform: rotate(-1deg);
      background: yellow;
      color: black;
    }
    .img-container {
      padding: 10px;
      width: 200px;
      height: 200px;
      // background: url('./images/1.jpg');
      background-position: center;
      background-size: cover;
    }
  }
}